@import url(pexels-photo-9695076.webp);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(pexels-photo-9695076.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.nav-link active {
  color: white;
}
